:root {
  --trGreen:#84c225;
  --trDarkGreen:#486b14;
  --dark: #343a40;
  --gray: #868e96;
  --gray-dark: #343a40;
}
@font-face {
    font-family: 'raitons';
    src: url('./fonts/raitons/raitons_demo-webfont.woff2') format('woff2'),
         url('./fonts/raitons/raitons_demo-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'alouette';
    src: url('./fonts/alouette/alouette_personal_use-webfont.woff2') format('woff2'),
         url('./fonts/alouette/alouette_personal_use-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'scheherazade';
    src: url('./fonts/scheherazade/scheherazade-r-webfont.woff2') format('woff2'),
         url('./fonts/scheherazade/scheherazade-r-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'partizano';
    src: url('partizano-demo-ffp-webfont.woff2') format('woff2'),
         url('partizano-demo-ffp-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
body{
  font-family: 'partizano';
    font-size: 16px;
    background: linear-gradient(to bottom right, rgba(96,96,96,0.3) 20%, rgba(224,224,224,0.5) 50%, rgba(96,96,96,0.1) 30% );
  text-align: justify;
}
div, span, li, ul{
  font-family: 'partizano';

}
h1, h2, h3, h4, h5, h6{
  font-family: 'alouette';
  color: #343a40;
}
a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

/*header*/
.top-header{
  display:flex;
  background-color: var(--trGreen);
  height: 50px;
  padding: 0;
}
header{
  text-align: center;
}
.top-header .rg-contact-us{
  margin:4.3%;
}
.rg-contact-us{
  margin: 5% 0;
  padding: 0;
  color:white;
  font-size: 14px;
  position: relative;
}



/*Social Icon*/
.top-header .social-icon
{
  margin: 3.6% 0;
}
.top-header .social-icon span{
  height:24px;
  width:24px;
  background-color: White;
  border-radius: 50%;
  text-align: center;
  -moz-transition: all 2s ease;
  padding: 0;
  margin:0;
}
.top-header .social-icon span a
{
  position: relative;
  top: 2px;
  left:4px;
}

.top-header .social-icon span:hover{
 -moz-transform: rotateY(360deg);
 -webkit-transform:rotateY(360deg);
 -o-transform:rotateY(360deg);
 transform:rotateY(360deg) ;
}

.top-header .social-icon span a i.ion-social-facebook{
    color: #3b5998;
}
.top-header .social-icon span a i.ion-social-youtube{
    color: #ff0000;
}
.top-header .social-icon span a i.ion-social-instagram{
    color: #9b6954;
}
.top-header .social-icon span a i.ion-social-twitter{
    color: #00aced;
    perspective: 1000;
}
.top-header .social-icon span a i.ion-social-google{
    color: #c71610;
    perspective: 1000;
}
.top-header .social-icon span a i.ion-social-linkedin{
    color: #0077b5;
    perspective: 1000;
}
.top-header .social-icon span:hover a i{
    color:#ffffff;
    background-blend-mode: darken;
    perspective: 1000;
}
.top-header .social-icon span.fb:hover{
    border: 1px solid #3B5998;
    background-color: #3b5998;
    box-shadow: -5px -2px 4px rgba(0,0,0,0.3);
    perspective: 1000;
}
.top-header .social-icon span.youtube:hover{
    border: 1px solid #ff0000;
    background-color: #ff0000;
    box-shadow: -5px -2px 4px rgba(0,0,0,0.3);
    perspective: 1000;
}
.top-header .social-icon span.instagram:hover{
    border: 1px solid #9b6954;
    background-color: #9b6954;
    box-shadow: -5px -2px 4px rgba(0,0,0,0.3);
    perspective: 1000;
}
.top-header .social-icon span.twitter:hover{
    border: 1px solid #00aced;
    background-color: #00aced;
    box-shadow: -5px -2px 4px rgba(0,0,0,0.3);
    perspective: 1000;
}
.top-header .social-icon span.gmail:hover{
    border: 1px solid #c71610;
    background-color: #c71610;
    box-shadow: -5px -2px 4px rgba(0,0,0,0.3);
    perspective: 1000;
}

.top-header .social-icon span.linkedin:hover{
    background-color: #0077b5;
    border: 1px solid #0077b5;
    box-shadow: -5px -2px 4px rgba(0,0,0,0.3);
    perspective: : 1000;
}

.size{font-size: 18px;}

.rg-navbar{
  display: flex;
  padding:0;
  margin:6% 4%;
  position: relative;
  width: 100%;
  height: 60px;
  z-index:900;
}
.rg-navbar-header
{
  width:100%;
  height: 60px;
  z-index:900;
  display: none;
  padding:0;
  position: relative;
}
.rg-navbar-collapse{
  display: block;
  position: absolute;
  width: 100%;
}

.rg-navbar ul, .rg-navbar ul li.rg-nav-item-group >ul{
  display: flex;
  position: relative;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.rg-navbar ul li.brand-space{
  height:150px;
  width: 150px;
  background: radial-gradient(closest-corner at 45% 45%,white 5%,var(--trGreen) 40%,var(--trDarkGreen) 90%);
  border-radius: 50%;
  position: relative;
  top: -75%;
  left: -2%;
  z-index: 1000;
  -webkit-animation: logorotation 4s linear infinite;
  -moz-animation: logorotation 4s linear infinite;
  -ms-animation: logorotation 4s linear infinite;
  -o-animation: logorotation 4s linear infinite;
  animation: logorotation 4s linear infinite;


}
.rg-navbar ul li a img.rg-brand-icon{
  height:100px;
  position: relative;
  max-height:auto;
  left:-10%;
  top:15%;

}
.rg-navbar ul li.rg-nav-item-group
{
  display:flex;
  position:relative;
  text-align:center;
  margin: 0 10%;
}


.rg-navbar ul li.left{
  display:flex;
  flex-direction: row;
  padding:0;
  margin: 0 1% 0 3%;
}
.rg-navbar ul li.right{
  position: relative;
  padding:0;
  margin: 0 0 0 -3%;
  display:flex;
  flex-direction:row;
  width:100%;
}

.rg-navbar ul li.rg-nav-item-group >ul > li.rg-nav-item{
  display:inline-flex;
  margin:2px 10px;
  width:100%;
  margin:2px auto;
  min-width: 200px;
  width:50%;
  padding: 10% calc(100%-50px);
  color: white;
  text-transform: uppercase;
  font-weight: bolder;
  background: linear-gradient(to top, var(--trDarkGreen), var(--trGreen));
  text-align: center;

}
.rg-navbar ul li.left >ul > li.rg-nav-item:nth-of-type(1){
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}
.rg-navbar ul li.right >ul > li.rg-nav-item:nth-last-of-type(1){
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}
.rg-navbar ul li.rg-nav-item-group >ul > li.rg-nav-item:hover{
  background: var(--trDarkGreen);
}
.rg-navbar ul li.rg-nav-item-group >ul > li.rg-nav-item>a{
  padding: 30% 0;
  width:100%;
  height:100%;
}




@-webkit-keyframes logorotation /* Safari and Chrome */ {
  from {
    -webkit-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  to {
    -webkit-transform: rotateY(360deg);
    -o-transform: rotateY(360deg);
    transform: rotateY(360deg);
  }
}
@keyframes logorotation {
  from {
    -ms-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  to {
    -ms-transform: rotateY(360deg);
    -moz-transform: rotateY(360deg);
    -webkit-transform: rotateY(360deg);
    -o-transform: rotateY(360deg);
    transform: rotateY(360deg);
  }
}


/*card*/
/*general-card Element*/
.rg-card{
	transform-style:preserve-3d;
	transition:all 4s ease;
	position: relative;
  display:block;
	padding-bottom: calc(100% - 8px);
	margin-bottom: 1.6em;
	width: 250px;
	height: 300px;
	backface-visibility:hidden;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
  perspective: 200px;
  -webkit-perspective:200px;
}

.rg-card:hover
{
	-webkit-transform: rotateY(900deg);
	-moz-transform: rotateY(900deg);
	-o-transform: rotateY(900deg);
	transform: rotateY(900deg);
}
.front-face
{
  display: flex;
  flex-direction: column;
	position:absolute;
	width:100%;
	height:100%;
	backface-visibility:hidden;
  -webkit-backface-visibility: hidden;
	color:#333;
	text-align:center;
	background-color: rgba(192,192,192,0.8);
	font-weight:bold;
  background: linear-gradient(to bottom right, rgba(96,96,96,0.3) 20%, rgba(224,224,224,0.5) 50%, rgba(96,96,96,0.1) 30% );


}
.back-face
{
  display: flex;
  flex-direction: column;
	position:absolute;
	width:100%;
	height:100%;
	backface-visibility:hidden;
	-webkit-backface-visibility: hidden;
	color:#fff;
	text-align:center;
	font-weight:bold;
	-webkit-box-shadow: -20px 27px 41px -13px rgba(0,0,0,0.75);
	-moz-box-shadow: -20px 27px 41px -13px rgba(0,0,0,0.75);
	box-shadow: -20px 27px 41px -13px rgba(0,0,0,0.75);
  transform:rotateY(180deg);
  background: linear-gradient(to bottom right, rgba(96,96,96,0.3) 20%, rgba(224,224,224,0.5) 50%, rgba(96,96,96,0.1) 30% );

}
.rg-card .card-header
{
  padding: 0;
  margin: 0;
  width:100%;
  display: inline-flex;
  height: 50px;
  position: relative;
  backface-visibility:hidden;
  -webkit-backface-visibility: hidden;
}
.rg-card .card-body
{
  padding: 0;
  margin: 0;
  width:100%;
  display: inline-flex;
  height: 200px;
  position: relative;
  flex-direction: column;
  backface-visibility:hidden;
  -webkit-backface-visibility: hidden;
}
.rg-card .card-footer
{
  padding: 0;
  margin: 0;
  width:100%;
  display: inline-flex;
  height: 50px;
  position: relative;
  backface-visibility:hidden;
  -webkit-backface-visibility: hidden;
}
.rg-card .card-body .body-content
{
  padding: 0 2%;
  display:none;
  width:100%;
  height:180px;
  font-size: 12px;
  text-align: justify;
  backface-visibility:hidden;
  -webkit-backface-visibility: hidden;
}
.rg-card .member-info
{
  position: absolute;
  display:none;
  flex-direction: column;
  width:100%;
  height:50px;
  font-size: 12px;
  backface-visibility:hidden;
  -webkit-backface-visibility: hidden;
  text-align: center;

}

.rg-card .member-info > .name
{
  font-family:"partizano";
  font-size:14px;
  font-weight:bold;
  position:relative;
  width:100%;
  padding: 0;
  margin: 0;
}
.rg-card .member-info > .designation
{
  font-family:'partizano';
   left:45%;
   font-size:8px;
   position:relative;
   width:50%;
   padding: 0;
   margin: 0;
   text-align: left;

}
.rg-card .img-holder
{
  display: none;
  border-radius:50%;
  overflow:hidden;
  position:absolute;
  padding: 0;
  margin: 0;
  backface-visibility:hidden;
  -webkit-backface-visibility: hidden;
}
.rg-card .img-holder>img{
  height:100%;
  width:100%;
  backface-visibility:hidden;
  -webkit-backface-visibility: hidden;
}
/* front face*/
.front-face >.card-body > .img-holder
{
  width:180px;
  height:180px;
  border-radius:50%;
  overflow:hidden;
  left:35px;
  top: 10px;
  display: block;
}
.front-face > .card-footer >.member-info
{
  display:inline-flex;
}
/*back face*/
.back-face > .card-header >.img-holder
{
  display: block;
  width:50px;
  height:50px;
  left:15px;
  top: 23px;
  z-index:110;
  border:3px solid white;
}
.back-face > .card-body >.body-content
{
  display: inline-flex;
  position: relative;
  top: 20px;
}
.back-face > .card-header >.member-info
{
  display:inline-flex;
  width: 180px;
}

/*navigation*/

/*footer*/
footer h1,
footer h2,
footer h3,
footer h4,
footer h5,
footer h6,
footer p,
footer div,
footer span{
  color: white;
}
.rg-footer{
  background: linear-gradient(to top, rgba(1,1,1,0.9),rgba(1,1,1,0.7) );
  display: flex;
  width: 100%;
  height: auto;
  min-height: 300px;
  max-height: 100%;
  color: white;

}
.maps{
  position:relative;
  display: flex;
  width: 100%;
  height: 300px;
  padding: 10px;
  flex-direction: column;
}
#rg-map
{
  display: flex;
  width: 100%;
  height: 100%;
}

.bottom-footer{
  background: linear-gradient(to top, rgba(0,0,0,0.9),rgba(0,0,0,0.8) );

}
.bottom-footer .social-icon a span
{
  text-align: center;
}
.bottom-footer .social-icon a span >i
{
  color: mediumblue;
}
.bottom-footer .social-icon a span:hover
{
  background-color: rgba(0,0,0,0.3);
  text-align: right;
}
.step {
  padding: 0;
  display: inline-flex;
  position: relative;
  line-height: normal;
  left: 2px;
  width:10%;
  
}

footer .rg-contact-us >h3{
  margin: 1.85% 0;
  padding: 0 5px;
  color:white;

  position: relative;

}
.rg-footer h3{
    font-weight: 700;
}
.rg-footer .rg-contact-us ul{
  list-style-type: none;
}
.rg-footer .rg-contact-us>p{
  font-family: raitons;
  font-weight: 900px;
  font-size:32px;
}

@media only screen and (max-width: 575.99px) {
  body{font-size: 12px;}
  .top-header{height:40px;}
  .top-header .rg-contact-us{font-size: 12px; top:0; left:10px; margin: 4% 0px; padding: 0; }
  .top-header .social-icon{margin:4% 0;}
  .top-header .size-sm { font-size: 14px; padding: 0  }
  .top-header .step {
    line-height: 0;
    background-color: white;
    width: %;
  }
  .logo{display:none;}
  .rg-navbar-header{
    display: flex;
    position: fixed;
    left: 10px;
  }
  .rg-navbar-header>.logo{
    display: inline-flex;
    height: 70px;
    width: 100%;
    position: relative;
    top: -20%;
    left: -5%;
}
  .rg-navbar-collapse{
    height: 100%;
    width: 90%;
}
  
  .top-header .social-icon span{
    height: 17px;
    width: 17px;
  }
  .rg-navbar-toggler{
    float:left;
    display:inline-block;
    border-radius:20%;
    background: linear-gradient(to top, var(--trDarkGreen), var(--trGreen));
    color:white;
    font-size:25px;
    height: 50px;
    width:50px;
  }
  
  #collapsible-rg-navbar{
    position: fixed;
    top:123px;
    left:5%;
    display:none;
    height:200px;
    width: 90%;
      background: linear-gradient(to top, var(--trDarkGreen), var(--trGreen));
    overflow-y: scroll;
  }
  #collapsible-rg-navbar::before{
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 20px solid var(--trDarkGreen);
    position: absolute;
    top: -20px;
    left: 8px;

  }
  .rg-navbar ul, .rg-navbar ul li.rg-nav-item-group >ul{
    display:flex;
    flex-direction: column;
    width:100%; 
    height: 100%;
  }
  .rg-navbar ul li.brand-space{
    display:none;
  }
  .rg-navbar .rg-nav-item
  {
    flex-direction: column;
  }
  .rg-navbar ul li.left >ul > li.rg-nav-item:nth-of-type(1),
.rg-navbar ul li.right >ul > li.rg-nav-item:nth-last-of-type(1){
  border-radius:0;
  }
  .rg-navbar ul li.left, .rg-navbar ul li.right{
  flex-direction: column;
  padding:0;
  margin: 0;
  width: 100%;
  }
  .rg-navbar ul li.rg-nav-item-group > ul > li.rg-nav-item > a{padding: 0;}
  .rg-navbar ul li.rg-nav-item-group >ul > li.rg-nav-item{
  width:100%;
  min-width: 200px;
  color: white;
  padding:0;
  margin:0;
  height:50px;
  background: transparent;
  }
}



@media only screen and (min-width: 576px) and (max-width: 767.99px) {
  .top-header{ height:30px;}
  .size-md { font-size: 14px; }

 }

@media only screen and (min-width: 768px) and (max-width: 991.99px) {
  .size-lg { font-size: 16px; }



 }


@media only screen and (min-width: 992px) and (max-width: 1199.99px) { .size-xl { font-size: 18px; } }

@media only screen and (min-width: 1200px) {
.size{font-size: 20px;}  }
